.cardProjects {
  width: 25vw;
  height: auto;
  border: 3px solid black;
  border-radius: 5px;
}

.cardProjectsImage {
  width: 100%;
  border-radius: 5px;
}

.techList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

.techList li {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 5px;
}

.cardProjectsContent {
  padding: 10px;
}
